name: Create Release

permissions:
  contents: write

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Create tar archive
        run: |
          tar -czf main.tar.gz --exclude='.git' --exclude='.github' .

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: main.tar.gz
          name: "Release ${{ github.ref_name }}"
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
